body {
    background-color: #fff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}

html {
    background-color: #fff;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.card {
    vertical-align: middle;
    background-color: #fff;
    max-width: 520px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 100%;
        margin-top: 0;
        border-radius: 0;
        position: absolute;
        width: 100%;
        min-height: 0;
        overflow: scroll;
        bottom: 0;
        top: 55px;
    }
}

.card .card-heading {
    padding: 12px;
    background-color: white;
}

.card .card-heading h4 {
    color: #333;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.5rem;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #e68821;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.15rem;
    background-color: #e68821 !important;
    color: white;
    margin-bottom: 30px;
}